@import "colors.css";

window#osd {
  border-radius: 10px;
  border: 1px solid @foreground;
  background: alpha(#070705, 0.7);
}

window#osd #container {
  margin: 2px;
  padding: 1px;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.6);
}

window#osd image,
window#osd label {
  color: alpha(@foreground, 0.8);
}

window#osd label {
  margin-left: 0px;
  padding-left: 0px;
}

window#osd progressbar {
  margin-right: 0px;
  padding-right: 0px;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 4px;
  min-width: 40px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  min-width: 40px;
  border-radius: inherit;
  border: none;
  background: alpha(@foreground, 0.5);
}

window#osd progress {
  min-height: inherit;
  min-width: 40px;
  border-radius: inherit;
  border: none;
  background: @foreground;
}
